@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: #3d3d3d;
  --background-start-rgb: 250, 250, 250;
  --background-end-rgb: 255, 255, 255;
  --home-gradient: #c9ffde;
  scroll-behavior: smooth;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: #3d3d3d;
    --background-start-rgb: 250, 250, 250;
    --background-end-rgb: 255, 255, 255;
    --home-gradient: #c9ffde;
  }
}

html,
body {
  min-height: 100vh;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: rgb(var(--foreground-rgb));
  background-repeat: no-repeat;
  background-image: linear-gradient(180deg, #c9ffde 0%, #e5e5e5 100%);
}

@layer components {
  .hero_green {
    @apply text-[#3EB489] text-8xl;
  }
}
